# Xcode
#
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
#
.build/
Packages/
Package.resolved

# CocoaPods
#
Pods/

# Carthage
#
Carthage/Build/

# Fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Other
#
*.moved-aside
*.xcuserstate
*.orig
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Archive
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Xcode Cloud
.xccheckout

# Firebase
GoogleService-Info.plist

# dotenv environment files
.env